html,
body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

@font-face {
  font-family: "Alarm Clock";
  src: url("alarm clock.ttf");
}

@keyframes bg-color {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}

@keyframes flyaway {
  0% {
    top: 50%;
  }
  20% {
    top: 60%;
  }
  100% {
    top: -50%;
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #ff7e28, #8af8dd, #e375ff);
  filter: blur(100px);
  background-size: 150% 170%;
  animation: bg-color 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.login {
  animation: reveal 0.82s both;
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: auto;

  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;

  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(7px); */
  backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login > p:first-child {
  /* font-family: "Dancing Script", cursive; */
  font-weight: bold;
  font-size: 32px;
}

#fname,
#btn {
  text-decoration: none;
}

input {
  text-decoration: none;
  background: transparent;
  max-width: 12em;
  padding: 1em;
  border: none;
  border-left: 1px solid fff;
  border-top: 1px solid fff;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  outline: none;
  margin-bottom: 8px;
}

input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

input:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

.countdown {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 50%;
  height: auto;
  text-align: center;
  text-shadow: 1px 1px #8a8a8a;
}

#clock {
  font-size: 8vw;
  font-weight: bolder;
  margin: 0px;
  font-family: "Alarm Clock", "Orbitron";
}

.countdown > p:last-child {
  font-weight: bold;
  font-size: 32px;
}

#error {
  font-size: 16px;
  color: rgb(204, 0, 0);
  opacity: 0;
  margin-bottom: 0px;
}

.signature {
  color: gray;
  position: fixed;
  bottom: 40px;
  right: 20px;
  transform: rotate(-20deg);
}

.signature > p {
  margin: 0;
}
.signature > p:last-child {
  color: rgb(60, 60, 112);
  margin-top: 8px;
  font-weight: bold;
  font-size: 32px;
  font-family: "Dancing Script", cursive;
}

@media all and (max-width: 370px) {
  .signature {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.reveal {
  animation: reveal 0.82s both;
}

.flyaway {
  animation: flyaway 1s;
  animation-timing-function: ease-in-out;
}

.cnt-reveal {
  animation: greet 2s both;
  animation-delay: 0.7s;
}

@keyframes greet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 2.5s linear both;
  animation-delay: 5.5s;
}

.flicker {
  animation: argh-my-eyes 1.9s infinite;
  animation-delay: 8.1s;
  filter: blur(1px);
}

@keyframes argh-my-eyes {
  0% {
    background: rgb(9, 255, 0);
  }
  49% {
    background: rgb(255, 0, 170);
  }
  50% {
    background: rgb(255, 251, 0);
  }
  99% {
    background: rgb(0, 17, 255);
  }
  100% {
    background: rgb(255, 0, 0);
  }
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
